<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartPlate</title>
    {% comment %} <link rel="stylesheet" href="{% static 'css/styles.css' %}"> {% endcomment %}
    <link rel="stylesheet" href="{% static '/output.css' %}">
</head>
<body>
    <header>
        <h1 class="bg-red-400">Welcome to SmartPlate</h1>
    </header>
    <main>
        <p>Your content goes here.</p>
        <p>Tailwind is Initilized</p>
    </main>
    <footer>
        <p class="text-[0.5rem] font-bold bg-slate-300">&copy; 2025 SmartPlate. All rights reserved.</p>
    </footer>
</body>
</html>